### 2.4 Tipos mutables e inmutables

Una variable es un identificador asociado a una posición en memoria donde se almacena el valor. En Python todo son objetos, es decir, almacenan información y tienen asociada una serie de métodos para operar sobre dicha información. Debemos diferenciar entre objetos “mutables” y objetos “inmutables”. Toda variable representa a un objeto de un tipo determinado. El tipo establece el formato del dato a almacenar. Un objeto inmutable es aquel cuyo tipo no permite modificar el contenido sin destruir la referencia al mismo. Si imaginamos el identificador de una variable como la etiqueta pegada al frontal de un cajón donde meter valores, un objeto inmutable sería un cajón que no podemos abrir, solo observar a través de un frontal transparente, como si de una vitrina se tratara. Cuando queremos que una variable almacene un valor distinto al asignado anteriormente para un objeto inmutable, debemos buscar otro cajón donde meter ese valor, meter el valor, cerrarlo y cambiar la etiqueta al nuevo cajón, a sabiendas de que no podremos cambiar su contenido. En cambio, un objeto mutable sí permite modificar el contenido sin cambiar la referencia. Es un cajón que abrimos y cuyo contenido modificamos sin impedimentos. Un objeto mutable puede actualizar sus valores, un inmutable, no. 
Como hemos dicho, la mutabilidad depende del tipo del objeto. Estos son los tipos mutables e inmutables establecidos por Python:
- Mutables: listas, diccionarios y conjuntos.
- Inmutables: todos los números (enteros, reales, complejos y booleanos), cadenas y tuplas.

In [1]:
x = 4
print(x)

4

In [2]:
id(x)
# hex(id(x))

8791201294208

In [3]:
x += 1
print(x)

5

In [4]:
id(x)
# hex(id(x))

8791201294240

Aunque pueda parecer que el código actualiza el valor de la variable `x` (`x += 1`), lo que tiene lugar realmente es la creación de una nueva variable, en un espacio de memoria nuevo, donde se toma el valor anterior de `x` y se asigna a una nueva variable `x`. La línea `x += 1` es equivalente a la instrucción `x = x + 1` que se resuelve de la siguiente manera: el intérprete primero resuelve la parte derecha, `x + 1`, buscando en la pila de tablas de símbolos la primera referencia con el identificador `x`. La encuentra y esta lleva a una dirección de memoria con el valor `4`. El intérprete sustituye `x` por `4` y resuelve la suma `4 + 1`. El valor calculado, `5`, va a asignarse a una variable, por lo que Python crea un espacio en memoria donde aloja dicho valor y cambiar la referencia en la tabla de símbolos para que `x` apunte a `5`, resolviendo así la asignación. Ahora, el espacio donde se alojaba `4` es **liberado por el recolector de basura**.

El siguiente ejemplo ilustra también la inmutabilidad usando en este caso cadenas. Las variables `b` y `a` disponen de espacios de memoria distintos. Aunque podemos acceder a cada carácter mediante su posición, no es posible modificarlos, por lo que se genera un error al intentarlo.

In [5]:
a = "hola"
b = a
a = a + " caracola"
print(a)

hola caracola

In [11]:
c=['h','o','l','a']
d=c
c.append('X')
c

['h', 'o', 'l', 'a', 'X']

In [12]:
d

['h', 'o', 'l', 'a', 'X']

In [8]:
b

'hola'

In [9]:
b[2]

'l'

In [7]:
b[2] = 'j'

TypeError: 'str' object does not support item assignment

In [10]:
b.replace('l', 'j')

'hoja'

https://stackoverflow.com/questions/41752946/replacing-a-character-from-a-certain-index/41753038

## 3. Estructuras de datos compuestos (colecciones)

En Python hay una serie de tipo de datos que se caracterizan por estar compuestos por secuencias de elementos. Son las llamadas colecciones. En Python tenemos cuatro posibles colecciones:

- Listas (lists)
- Tuplas (tuples)
- Conjuntos (sets)
- Diccionarios (dictionaries)

### 3.1 Listas

Una lista es un conjunto ordenado de elementos que puede contener datos de cualquier tipo. Una característica muy importante de las listas es que pueden contener elementos de diferentes tipos, por ejemplo una lista puede estar compuesta por cadenas de texto, por números enteros y por supuesto, por otras listas.

Las listas en Python se representan por una serie de elementos separados por comas y delimitados entre corchetes. Un ejemplo:

In [ ]:
[99.9, "una lista en", "Python", 345, 56]

Esta lista está compuesta por cinco elementos, el número real 99.9, la cadena de texto "una lista en", la cadena de texto "Python", y los números enteros 345 y 56.

Los elementos en las listas ocupan posiciones concretas, y mediante esa posición que ocupan podemos acceder directamente a los elementos. En la siguiente tabla te mostramos la relación de cada elemento con la posición que ocupa en la lista:

<dl>
<table>
  <tr>
    <th>Elemento</th>
    <th>Posición</th>
  </tr>
  <tr>
    <td>99.9</td>
    <td>0</td>
  </tr>
  <tr>
    <td>"una lista en"</td>
    <td>1</td>
  </tr>
  <tr>
    <td>"Python"</td>
    <td>2</td>
  </tr>
  <tr>
    <td>345</td>
    <td>3</td>
  </tr>
  <tr>
    <td>56</td>
    <td>4</td>
  </tr>
</table>    
</dl>

In [13]:
mylist = [99.9, "una lista en", "Python", 345, 56]

In [14]:
type(mylist[0])

float

###### Ejercicio 3.1 ¿Qué tipo de dato es mylist? ¿Cómo puedes determinar que tipo de dato es cada elemento de la lista? Hay dos elementos que son de tipo cadena de texto. Escribe el código Python que determina si la palabra "list" está incluida en alguno de los dos. Escribe el código Python que determina si el número 345 está incluido en mylist.

In [16]:
type(mylist)

list

In [19]:
type(mylist[0])
type(mylist[1])
type(mylist[2])
type(mylist[3])
type(mylist[4])

int

In [23]:
'list' in mylist[1]

False

In [ ]:
'list' in mylist[2]

In [24]:
'list' in mylist
#Da False, pq no hay un elemento que sea exactamente
#'list'

False

In [22]:
345 in mylist

True

#### 3.1.1 Manipulación de listas

Añadir elementos a una lista existente es una operación recurrente dentro de la programación. Una manera de añadir uno o más elementos a una lista es mediante el operador "+" y más adelante vamos a ver la función `append()`.

Con el operador "+" puedes realizar uniones de listas, de la siguiente manera:

**_ListaConcatenada = Lista1 + Lista2_**

In [ ]:
lista1 = ["Spiros", "Amaliada", 1969, 51, "verde"]
lista2 = ["Silvia", "Madrid", 1973, 47, "negro"]

In [ ]:
print(lista1 + lista2)

Para conocer el número de elementos que componen una lista se utiliza la función `len`, de la siguiente manera:

**_NumeroElementos = len(Lista)_**

In [ ]:
string = "this is another fairly long string"
len(string)

In [26]:
print("Número elementos de lista1: %d" % len(lista1))
print("Número elementos de lista2: %d" % len(lista2))
lista_1y2 = lista1 + lista2
print("Número elementos de lista_1y2: %d" % len(lista_1y2))

NameError: name 'lista1' is not defined

In [27]:
print(lista_1y2)

NameError: name 'lista_1y2' is not defined

La modificación de elementos de una lista se hace de la siguiente forma:

**_Lista[posición] = NuevoValor_**

La posición indica el elemento que será modificado dentro de la lista, el valor asignado es el nuevo valor que tendrá dicho elemento.

In [ ]:
lista_1y2[0] = "Miguel"

El borrado de elementos existentes dentro de una lista se hace utilizando la instrucción `del`, de la siguiente forma:

**_del Lista[posición]_**

In [ ]:
del lista_1y2[3]

El operador "*" nos permite concatenar una lista con ella misma un número finito de veces. Se utiliza de la siguiente forma:

**_ListaResultante = Lista * NúmeroEntero_**

Por ejemplo:

In [28]:
mylist = ["a", "b", "c"]
print(mylist)
mylist = mylist * 3
print(mylist)

['a', 'b', 'c']
['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [29]:
my_new_list = [0]*12

In [30]:
my_new_list

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [31]:
my_empty_string_list = [""]*40
print(my_empty_string_list)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

Como dijimos antes, las listas pueden tener otras listas como elementos. Por ejemplo:

In [32]:
lista_andalucia = [["Málaga", "Antequera", "Estepona"], "Granada", "Sevilla", ["Cádiz", "Puerto de Santa Maria"]]

In [33]:
print(lista_andalucia)

[['Málaga', 'Antequera', 'Estepona'], 'Granada', 'Sevilla', ['Cádiz', 'Puerto de Santa Maria']]

Para acceder a los elementos de la lista secundaria primero tenemos que acceder al elemento de la lista principal y después al elemento concreto de dicha lista. Para acceder al elemento "Estepona" tendremos que acceder al elemento [0] de la lista principal y al elemento [2] de la lista secundaria.

In [34]:
print(lista_andalucia[0][2])

Estepona

In [36]:
#copiar una lista
la=lista_andalucia[0]
la2=la.copy()
print(la2)
print(id(la))
print(id(la2))

['Málaga', 'Antequera', 'Estepona']
135267648
134759168

In [40]:
lista_andalucia = [["Málaga", "Antequera", "Estepona"], "Granada", "Sevilla", ["Cádiz", "Puerto de Santa Maria"]]

In [43]:
print(str(lista_andalucia[0][2])+" "+str(lista_andalucia[1])

SyntaxError: unexpected EOF while parsing (<ipython-input-43-9b01ac3f397f>, line 1)

Si tuviéramos un elemento dentro de la lista secundaria que fuera otra lista, únicamente tendríamos que añadir el elemento entre corchetes a continuación de la lista secundaria. Por ejemplo, si tuviéramos la lista en la posición 1 de la lista secundaria y quisiéramos acceder al elemento 0 de dicha lista lo haríamos de la siguiente forma:

**_Lista[1][1][0]_**

###### Ejercicio 3.2

Para extraer una porción de una lista en otra lista nueva, se utiliza la siguiente instrucción:

#### 3.1.2 **_Lista[n:m]_** o **Slicing**

La instrucción extraerá una nueva lista que empezará en el índice `n` y terminará en el `m-1`. Tienes que tener en cuenta lo siguiente:

- Si no se especifica el valor para `n` se supone que es `0`.
- Si no se especifica el valor para `m` se supone que es el tamaño de la lista menos uno.

In [44]:
lista_andalucia = [["Málaga", "Antequera", "Estepona"], "Granada", "Sevilla", ["Cádiz", "Puerto de Santa Maria"]]

In [45]:
lista_andalucia[0:2]

[['Málaga', 'Antequera', 'Estepona'], 'Granada']

In [46]:
lista_andalucia[:]

[['Málaga', 'Antequera', 'Estepona'],
 'Granada',
 'Sevilla',
 ['Cádiz', 'Puerto de Santa Maria']]

In [47]:
lista_andalucia[:2]

[['Málaga', 'Antequera', 'Estepona'], 'Granada']

In [48]:
lista_andalucia[2:]

['Sevilla', ['Cádiz', 'Puerto de Santa Maria']]

In [49]:
mylist = [0, 1, 2, 3, 4, 5, 6]

In [50]:
mylist[-3:]

[4, 5, 6]

La instrucción `[n:m]` es también conocida como **slicing**, o operaciones **slice** en Python.

###### Ejercicio 3.3  ¿Cuál es el próximo número en la lista `fibo = [0, 1, 1, 2, 3]`? Escribe el código Python que añade el próximo número a la lista y borra el primer elemento para que su tamaño siga siendo 5.

In [56]:
fibo = [0, 1, 1, 2, 3]
print(fibo)

[0, 1, 1, 2, 3]

In [57]:
fibo.append(fibo[3]+fibo[4])
print(fibo)
del(fibo[0])
print(fibo)

[0, 1, 1, 2, 3, 5]
[1, 1, 2, 3, 5]

###### Números negativos

En operaciones slice se pueden usar números negativos. Por ejemplo, lo siguiente obtiene el último elemento:

In [ ]:
mylist[-1:]

Esto es porque comienza en -1, pero como no hay índices negativos, se regresa y entonces se encuentra con el último elemento. 

Igualmente si se quieren obtener los últimos dos elementos:

In [ ]:
mylist[-2:]

O desde el inicio, pero sin los últimos 2 elementos:

In [ ]:
mylist[:-2]

###### Con step o pasos

La notación de **slice en Python** soporta un tercer "argumento" y es el número de pasos que se avanza al cortar. Por defecto, es 1; pero puede ser especificado de otra manera. Dicho de otro modo, cuando hacemos esto:

In [ ]:
mylist[0:7] # obtiene desde el 0 hasta el 7-1

Es lo mismo que hacer esto:

In [ ]:
mylist[0:7:1] # obtiene desde el 0 hasta el 7-1 en pasos de 1

Pero si cambiamos el tercer argumento, para que sea en pasos de 2:

In [58]:
mylist[0:7:3]

[0, 3, 6]

Entonces obtiene los elementos del 0 hasta el 7, pero ignorando algunos. Comienza en el 0, y avanza 2 pasos, así que selecciona el que tiene el índice 2. Luego, desde el 2 avanza otros 2 pasos y se encuentra con el índice 4, etc. Si ya no hay más al saltar, entonces se detiene.

In [ ]:
mylist[::2]

#### 3.1.3 Métodos propios

lista=["hello","goodbye","you","say","I"]

In [62]:
type(lista)

NameError: name 'lista' is not defined

In [61]:
str.sort()
str

AttributeError: type object 'str' has no attribute 'sort'

El tipo de dato lista en Python posee una serie de funciones que nos permiten manipular las listas realizando operaciones complejas de forma sencilla y con una simple instrucción. El formato de uso de la gran mayoria de las funciones es el siguiente:

**_Lista.NombreFuncion(Parámetros)_**

- Lista: lista que ejecuta la función.
- NombreFuncion: nombre de la función que se quiere ejecutar.
- Parámetros: no todas las funciones tienen parámetros para ejecutarse, esta parte es dependiente de la función que se quiere ejecutar. 

Las funciones de listas que pone a nuestra disposición Python están aquí: https://docs.python.org/3/tutorial/datastructures.html

Por ejemplo:

In [63]:
lista_andalucia = [["Málaga", "Antequera", "Estepona"], 
                   "Granada", 
                   "Sevilla", 
                   ["Cádiz", "Puerto de Santa Maria"]]

In [64]:
print(lista_andalucia)

[['Málaga', 'Antequera', 'Estepona'], 'Granada', 'Sevilla', ['Cádiz', 'Puerto de Santa Maria']]

In [65]:
lista_andalucia.append("Córdoba")

In [68]:
#muestra cuantas veces aparece un elemento
lista_andalucia.count('Sevilla')
'Sevilla' in lista_andalucia

True

In [71]:
lista_andalucia.insert(2,"Jaén")

In [72]:
print(lista_andalucia)

[['Málaga', 'Antequera', 'Estepona'], 'Granada', 'Jaén', 'Sevilla', ['Cádiz', 'Puerto de Santa Maria'], 'Córdoba']

Aunque el operador `"+"` y el método `append()` tienen el mismo efecto, que es añadir los elementos de una lista a otra lista, se recomienda que uséis el método `append()` por ser más eficiente: https://stackoverflow.com/questions/34376511/efficiently-adding-elements-to-a-list-in-python

### 3.2 Tuplas
Las tuplas son un conjunto ordenado e **inmutable** de elementos. La diferencia con las listas reside en que en las listas puedes manipular los elementos y en las tuplas no, es decir, no es posible añadir/eliminar elementos, modificarlos, etc. Al igual que las listas, las tuplas pueden contener elementos de diferentes tipos, por ejemplo una tupla puede estar compuesta por cadenas de texto, por números enteros, etc.

Las tuplas en Python se representan por una serie de elementos separados por comas y delimitados entre paréntesis. Veamos un ejemplo de tupla:

`("Casa", "2", 345, "Perro", 99)`

Al igual que en las listas, los elementos de las tuplas ocupan posiciones concretas, y mediante esa posición que ocupan podemos acceder directamente a los elementos. En la siguiente tabla te mostramos la relación de cada elemento con la posición que ocupa en la tupla:

<dl>
<table>
  <tr>
    <th>Elemento</th>
    <th>Posición</th>
  </tr>
  <tr>
    <td>"Casa"</td>
    <td>0</td>
  </tr>
  <tr>
    <td>"2"</td>
    <td>1</td>
  </tr>
  <tr>
    <td>345</td>
    <td>2</td>
  </tr>
  <tr>
    <td>"Perro"</td>
    <td>3</td>
  </tr>
  <tr>
    <td>99</td>
    <td>4</td>
  </tr>
</table>    
</dl>

In [73]:
mytuple = (99.9, "una tupla en", "Python", 345, 56)
print(mytuple)

(99.9, 'una tupla en', 'Python', 345, 56)

In [74]:
# inmutable
mytuple[0] = 100

TypeError: 'tuple' object does not support item assignment

###### Ejercicio 3.4 ¿Que tipo de elemento es mytuple? ¿cómo determinar cada elemento de la tupla?

In [75]:
type(mytuple)

tuple

In [76]:
print(type(mytuple[0]))
print(type(mytuple[1]))
# ...etc.

<class 'float'>
<class 'str'>

In [77]:
print("tupla" in mytuple[1])
print("tupla" in mytuple[2])

True
False

In [78]:
print(345 in mytuple)

True

#### 3.2.1 Tuplas vs. Listas

Al igual que las listas, las tuplas tienen funciones asociadas al tipo de dato, pero el número de funciones disponibles es mucho menor que en las listas:

- `count`: cuenta el número de veces que aparece el elemento indicado como parámetro dentro de la tupla

- `index`: devuelve la posición de la primera ocurrencia de izquierda a derecha en la tupla del elemento pasado como parámetro.

#### index()
Sirve para buscar un elemento y saber su posición en la tupla. Da error si no se encuentra.

In [79]:
tupla = (100,"Hola",[1,2,3],-50)

In [80]:
tupla.index(100)

0

In [81]:
tupla.index('Hola')

1

In [83]:
if 'Otro' in tupla:
    tupla.index('Otro')

#### count()
Sirve para contar cuantas veces aparece un elemento en una tupla.

In [84]:
tupla.count(100)

1

In [85]:
tupla.count('Otro')

0

In [86]:
tupla.count('Otro')

0

In [87]:
'Hola' in tupla

True

In [88]:
tupla.count(100)

1

In [89]:
a = ("Spiros", 1969, 1.96)
b = (1969, 1987, 2005, 2003)

¿Porqué no se puede usar otras funciones como las de las listas?
https://docs.python.org/3/tutorial/datastructures.html

Aunque las tuplas pueden parecer similares a las listas, a menudo se usan en diferentes situaciones y para diferentes propósitos. Las **tuplas** son inmutables y **generalmente contienen una secuencia heterogénea** de elementos a los que se accede *desempacando* o *indexando*. Las **listas** son mutables, y sus elementos son **generalmente homogéneos** y se accede iterando sobre la lista.

Hasta ahora estamos habituados a ver código de asignación de valores a variables, con una única variable sobre la cual recae el valor a asignar. Es posible realizar una asignación múltiple a partir de estructuras de tipo secuencia (cadenas, listas y tuplas). Esto se conoce como **desempaquetado de secuencias**.

In [ ]:
a=2

In [90]:
depredador, presa = ('águila', 'liebre')

In [91]:
depredador

'águila'

In [92]:
presa

'liebre'

También podemos realizar un **empaquetado de secuencias**, donde varios valores a la derecha de la asignación se guardarán como una tupla en la variable a la izquierda.

In [96]:
coordenadas_3d = 34, 5.6, 86 # empaqeutado tupla
#si no se pone nada, se entiende q es tupla ( )
#para listas sí hay que poner [ ]

x, y, z = coordenadas_3d     # desempaquetado

In [97]:
x

34

In [98]:
y

5.6

In [99]:
z

86

In [100]:
coordenadas_3d

(34, 5.6, 86)

Se puede usar el operador "+" para realizar uniones de tuplas. Además puedes utilizar la función len() para conocer el número de elementos que componen la tupla. Al igual que las listas, se puede usar el operador "*" para concatenar una tupla con ella misma un número finito de veces.

In [101]:
tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(len(tupla))

9

In [102]:
# ejemplos
tupla = tupla + (10, 11, 12)
print(tupla)
len(tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

12

Las tuplas, al igual que las listas, permiten extraer porciones de ellas en otra tupla nueva. La extracción se realiza utilizando la siguiente instrucción:

`Tupla[n:m]`

Por ejemplo:

In [103]:
tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [108]:
tupla2 = tupla[2:5] + (10, 11, 12)
tupla2
print(type(tupla2))

<class 'tuple'>

In [107]:
#step 2
tupla[::2]

(1, 3, 5, 7, 9)

### 3.3 Los conjuntos
Son colecciones desordenadas de elementos únicos utilizados para hacer pruebas de pertenencia a grupos y eliminación de elementos duplicados. Los elementos de los conjuntos deberán de ser de tipo inmutable.

In [109]:
conjunto = {1,2,3}

In [110]:
type(conjunto)

set

In [111]:
conjunto

{1, 2, 3}

In [113]:
#tupla como elemento de conjunto
con1={1,2,(2.1,2.2),3}
print(con1)
type(con1)

{1, 2, 3, (2.1, 2.2)}

set

#### Método add()
Sirve para añadir elementos al conjunto. Si un elemento ya se encuentra, no se añadirá de nuevo.

In [114]:
con = {100,100,100,50,10}
con

{10, 50, 100}

In [115]:
conjunto.add(4)

In [116]:
conjunto

{1, 2, 3, 4}

In [117]:
conjunto.add(3)

In [118]:
conjunto

{1, 2, 3, 4}

#### Colecciones desordenadas
Se dice que son ordenados porque gestionan automáticamente la posición de sus elementos, en lugar de conservarlos en la posición que nosotros los añadimos.

In [ ]:
conjunto.add(1.5)

In [ ]:
conjunto

In [ ]:
conjunto.add("a")

In [ ]:
conjunto

In [ ]:
conjunto.add( ('a', 'b', 'c') )

In [ ]:
conjunto

#### Pertenencia a grupos con *in*

In [119]:
grupo = {'Hector','Juan','Mario'}

In [120]:
'Hector' in grupo

True

In [121]:
'Maria' in grupo

False

In [122]:
'Hector' not in grupo

False

#### Auto-eliminación de elementos duplicados

In [123]:
test = {'Hector','Hector','Hector'}

In [124]:
test

{'Hector'}

#### Cast de lista a conjunto y viceversa
Es muy útil transformar listas a conjuntos para borrar los elementos duplicados automáticamente.

In [ ]:
l = [1,2,3,3,2,1]
l

In [ ]:
c = set(l)
c

In [ ]:
l = list(c)

In [ ]:
l

In [ ]:
l = [1,2,3,3,2,1]

In [ ]:
# En una línea
l = list( set( l ) )

In [ ]:
l

#### Cast de cadena a conjunto
Sirve para crear un conjunto con todos los caracteres de la cadena.

In [126]:
s = "Al pan pan y al vino vino"
set(s)

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}

In [127]:
s

'Al pan pan y al vino vino'

Los conjuntos también tienen funciones asociadas al tipo de dato. Usa el punto y tabulador en un objeto de tipo set para ver los métodos disponibles.

In [ ]:
# e.g. 
type(c)
c.

###### Ejercicio 3.5

In [131]:
v = {"pear", "apple",}
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y,v)

print(z)

{'apple'}

In [139]:
v = {"pear", "apple",}
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z=x.difference(y,v)

z=y.difference(x,v)

z=v.difference(x,y)

print(z)

{'pear'}

In [132]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}

print('A U B =', A.union(B))
print('B U C =', B.union(C))
print('A U B U C =', A.union(B, C))
print('A.union() =', A.union())

A U B = {2, 'c', 'd', 'a'}
B U C = {1, 2, 3, 'c', 'd'}
A U B U C = {1, 2, 3, 'c', 'd', 'a'}
A.union() = {'d', 'c', 'a'}